.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    'navbar navbar navbar navbar'
    'main main main sidebar'
    'main main main sidebar '
    'footer footer footer sidebar';
  gap: 0.2rem;
  text-align: center;
}

.container_hide_sidebar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    'navbar navbar navbar navbar'
    'main main main main'
    'main main main main'
    'footer footer footer footer';
  gap: 0.2rem;
  text-align: center;
}

.header {
  grid-area: navbar;
  border-radius: var(--radius);
}

.main {
  grid-area: main;
  min-height: calc(100vh - 10vh);
  border-radius: var(--radius);
  padding-top: var(--main-padding);
}

.footer {
  grid-area: footer;
  border-radius: var(--radius);
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: minmax(auto-fill, 1fr);
    grid-template-areas:
      'navbar'
      'main'
      'sidebar'
      'footer';
  }
  .main {
    grid-area: main;
    height: minmax(calc(100vh - 20vh), auto-fit);
    border-radius: var(--radius);
    padding-top: var(--main-padding);
  }
}
